:root {
  --primary: #350066;
  --darker-primary: #1e003e;
  --lighter-primary: #6f2dbd;
  --secondary: #d6e3ff;

  --lightest-gray: #fafafa;
  --lighter-gray: #f0f0f0;
  --gray: #c1c7cd;

  --dark-gray: #21272a;
  --darker-gray: #121619;
}

body {
  background-color: var(--gray);
  font-family: "Raleway", sans-serif;
}

/* ================================= Navigation Bar ================================= */

header {
  position: sticky;
  top: 0;
}

.nav-container {
  background-color: var(--primary);
  display: flex;
  padding: 20px 150px;
  justify-content: space-between;
  border-bottom: 3px solid var(--lighter-primary);
}

.logo {
  width: 160px;
}

.nav-links {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 24px;
  list-style: none;
  font: 500 1rem "League Spartan", sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: var(--lightest-gray);
}

.nav-links a:not(.cta-btn):hover {
  color: var(--secondary);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--secondary);
  transition: 0.1s ease-in;
}

.nav-links .cta-btn {
  color: var(--darker-gray);
  background-color: var(--secondary);
  padding: 13px 20px;
  border-radius: 2px;
}

.nav-links .cta-btn:hover {
  background-color: #a4baff;
  color: var(--darker-gray);
  transition: background-color 0.3s ease;
}

.menu-icon {
  display: none;
}
.menu-icon i {
  color: var(--lightest-gray);
  font-size: 1.5rem;
}

@media (max-width: 824px) {
  .nav-container {
    padding: 20px 100px;
  }
  .nav-links {
    align-items: center;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
    background-color: var(--primary);
    padding-right: 40px;
  }

  .nav-links li {
    padding: 20px;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 385px) {
  .nav-container {
    padding: 20px 50px;
  }
}

/* ================================= Hero Section ================================= */

.hero-container {
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  background: url("/images/heroBG.png") no-repeat center/cover;
  height: 80vh;
}

.hero-title {
  font: 3.375rem "League Spartan", sans-serif;
  line-height: 90px;
  text-transform: uppercase;
}

.hero-description {
  max-width: 1100px;
  word-wrap: break-word;
  font-size: 1.125rem;
}

.title-name {
  color: var(--primary);
}

.hero-buttons .btn {
  text-decoration: none;
  color: var(--lightest-gray);
  background-color: var(--primary);
  padding: 15px 23px;
  border-radius: 2px;
  font: 500 1rem "League Spartan", sans-serif;
}

.hero-buttons .outline-btn {
  text-decoration: none;
  color: var(--primary);
  border: 3px solid var(--primary);
  padding: 12px 23px;
  border-radius: 2px;
  font: 600 1rem "League Spartan", sans-serif;
}
