:root {
  --primary: #350066;
  --darker-primary: #1e003e;
  --lighter-primary: #6f2dbd;
  --secondary: #d6e3ff;

  --lightest-gray: #fafafa;
  --lighter-gray: #f0f0f0;
  --gray: #c1c7cd;

  --dark-gray: #21272a;
  --darker-gray: #121619;
}

body {
  background-color: var(--lightest-gray);
  font-family: "Raleway", sans-serif;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  background-color: var(--primary);
  border-bottom: 2px solid var(--lighter-primary);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  display: block;
  padding: 30px 16px;
  color: var(--lightest-gray);
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
}

.nav-links a:hover {
  color: var(--secondary);
  text-decoration: underline;
  cursor: pointer;
}

.nav-links .cta-btn {
  margin-left: 12px;
  padding: 14px 16px;
  background-color: var(--secondary);
  color: var(--darker-gray);
  border-radius: 2px;
  transition: transform 0.3s, background-color 0.4s ease;
}

.nav-links .cta-btn:hover {
  background-color: var(--lighter-primary);
  text-decoration: none;
}

.cta-icon {
  margin-left: 10px;
}
