:root {
  --primary: #350066;
  --darker-primary: #1e003e;
  --lighter-primary: #6f2dbd;
  --secondary: #d6e3ff;

  --lightest-gray: #fafafa;
  --lighter-gray: #f0f0f0;
  --gray: #c1c7cd;

  --dark-gray: #21272a;
  --darker-gray: #121619;
}

body {
  background-color: var(--gray);
  font-family: "Raleway", sans-serif;
}

/* Navigation Bar */

header {
  position: sticky;
  top: 0;
}

.nav-container {
  background-color: var(--primary);
  display: flex;
  padding: 20px 150px;
  justify-content: space-between;
  border-bottom: 3px solid var(--lighter-primary);
}

.logo {
  width: 160px;
}

.nav-links {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 24px;
  list-style: none;
  font-family: "League Spartan", sans-serif;
}

.nav-links a {
  text-decoration: none;
  color: var(--lightest-gray);
  list-style-type: none;
}

.nav-links a:not(.cta-btn):hover {
  color: var(--secondary);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--secondary);
  transition: 0.1s ease-in;
}

.nav-links .cta-btn {
  color: var(--darker-gray);
  background-color: var(--secondary);
  padding: 13px 20px;
  border-radius: 2px;
}

.nav-links .cta-btn:hover {
  background-color: #a4baff;
  color: var(--darker-gray);
  transition: background-color 0.3s ease;
}

/* Hero Section */
.hero-container {
  background-image: url("/images/heroBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.title-name {
  color: red;
}
